<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>User List</h1>
    <ul>
        <% for( let i=0; i < users.length; i++ ) { %>
            <li>
                <a href="/users/detail/<%= users[i].id %> ">
                    <%= users[i].nombre %> 
                    <form action="/users/delete/<%= users[i].id %>?_method=DELETE" method="POST">
                        <button type="submit"> delete</button>
                    </form>
                </a>
            </li>
            <% } %>
    </ul>
    <h2>search</h2>
    <form action="/search" method="GET">
        <input type="text" name="search" >
        <input type="submit" value="Search">
    </form>
</body>

</html>